# Binarios y temporales
*.tmp
*.zip
*.log
*.exe
*~
google_mid
main

# IDEs y otros
.vscode/
.scannerwork/

# Variables de Entorno
*.env
!template.env

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
